@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    width: 100vw;
}

.sign-up-screen{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.lhs{
    width: 60%;
    background-image: url(./asset/KIDS-1024x683\ 2\ \(1\).png);
}

.rhs{
    margin-top: 50px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rhs img{
    width: 130px;
    height: 150px;
}

.rhs h2{
    font-size: 24px;
    font-weight: 700;
    color: #FB8500;
    margin-top: 20px;
}


form {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
}
  
input {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 1.2rem;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

form p{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 6px;
}

input.error{
    border: 1px solid red;
}


button{
    display: block;
    border-radius: 6px;
    width: 100%;
    padding: 0.6rem 0;
    background-color: #FB8500;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.bottom-text span{
    color: #FB8500;
    font-weight: 600;
    cursor: pointer;
}

/* create campaign */

.bottom-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.campaign-lhs{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333333;
}

.campaign-lhs h2{
    font-size: 32px;
    color: #FB8500;
    font-weight: 600;
    margin-top: 20%;
    padding: 5%;
}

.campaign-lhs img{
    width: auto;
    margin-top: 50px;
}

.campaign-rhs{
    width: 60%;
    padding: 20px 40px 20px 40px;
}

.goal-fields{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal-fields input{
    width: 95%;
}

.bottom-button{
    width: 100%;
    display: flex;
   justify-content: flex-end;
    
}

.bottom-button button{
    width: auto;
    text-wrap: nowrap;
    padding: 10px;
}

/* end of campaign creation */

/* beginning of nav */
nav{
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 20px;
    margin: auto;
    align-items: left;
    justify-content: space-between;
}

.search-box{
    width: 212px;
    height: 40px;
}

nav img{
    width: 180px;
    height: 40px;
}

nav a{
    display: inline-block;
    flex-direction: row;
    font-size: 15px;
    padding: 5px;
    color: #000;
    background: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}

nav a:hover{
    color: #666;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(assets/business-teamwork.png);
    background-size: cover;
    background-position: center;
}

.btn{
   width: 180px;
   height:  40px;
   background: #FB8500;
   color: #fff;
   border-radius: 12px;
   padding: 5px;
}

.landing-page img{
    position: fixed;
    margin: auto;
    padding: auto;
    max-width: 100px;
}

.landing-page ul, li{
    display: inline-flex;
    justify-content:space-evenly;
    padding: auto;
    margin: auto;
}

section h1{
    color: #fff;
    font-size: 100px;
    text-align: center;
}

section h2{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

section h3{
    color: #FB8500;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 40px;
}

.campaign-btn{
    width: 180px;
    height: 40px;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
 }

.explore-btn{
    width: 180px;
    height:  40px;
    background: #fff;
    color: #000;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
}

.page-buttons{
    display: flex;
    justify-content: center;
}

.how-it-works{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 30px;
}

h4{
    color: #023047;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
}

.confirmation-container{
    display: grid;
    background: #023046;
    background-size: cover;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.confirmation-container h1{
    color: #fff;
    text-align: center;
    padding: 30px;
}

.confirmation-container h2{
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.confirmation-container img{
    padding: 20px;
    justify-items: center;
}

.confirmation-container h3{
    color: #fff;
    text-align: center;
    margin: 20px;
}

.confirmation-container p{
    color: #fff;
    padding: 30px;
}

.confirmation-container .btn{
    text-align: center;
    width: 180px;
    height: 40px;
    margin: 0 auto;
    padding: 5px;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    text-transform: none;
}  

.box-container{
    display: inline-flex;
}

.view-container{
    box-sizing: content-box;
    color-scheme: #9BA2A4;
}

.landing-page-container{
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.landing-page-container h3{
    color: #808080;
    margin: 15px;
}

.landing-page-container p{
    color: #9BA2A4;
    padding: 10px;
}

.landing-page-container .btn{
    text-align: center;
    width: 180px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    text-transform: none;
    }  

.container .social-links-wrapper{
    display: flex;
}

.container hr{
    background-position: cover;
}

.urgent-cause{
    box-sizing: content-box;
    color-scheme: #9BA2A4;
    padding: 10px;
    margin: 30px;
}

.urgent-cause img{
    padding: 20px;
    justify-items: center;
}

.payment-container{
    display: flex;
    flex-direction: row;
    background: #fff;
    margin: auto;
    padding: 15px;
    margin-left: 10px;
    justify-content: space-around;
    align-items: left;
}

.profile-container{
    display: block;
}

.profile-container h2, h3{
    color: #236795;
    padding-left: 50px;
    margin: 10px;
}

.profile-container img{
    padding-left: 60px;
}

footer .img{
    font-size: 5px;
    padding: 10px;
    margin: 30px;
}

footer .footer-links{
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
}

footer .social-links-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #808080;
    margin: 20px;
}

footer .social_links_wrapper nav 
#footer_information_title{
    font-size: 18px;
    margin: 0 0 .5rem 0;
    line-height: 1.2;
}

footer .social_links_wrapper nav ul, li{
    margin: auto;
    padding: 0;
    list-style: none;
    margin-top: revert;
}

footer .footer_information_title strong{
    display: inline-flex;
    flex-direction: column;
}

footer .footer_information_title p{
    justify-content: center;
}

footer .footer-socials{
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-top: 20px;
    padding-right: 15px;
}

footer .footer-details{
    display: flex;
    justify-content:space-evenly;
    color: #808080;
}

footer .footer-details .vector{
    width: 20px;
    height: 15px;
}

footer .footer-details img{
    width: 60px;
    height: 20px;
}

footer .footer-socials #confirmation-message{
    display: flex;
    gap: 0.2rem;
    align-items: left;
    justify-content: left;
}

footer .footer-socials .btn{
    width: 180px;
    height:  40px;
    display: flex;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    padding: 5px;
}



