@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
    width: 100vw;
}

.sign-up-screen{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;

}

.s-lhs{
    width: 60%;
    background-image: url(./asset/KIDS-1024x683\ 2\ \(1\).png);
}

.s-rhs{
    margin-top: 50px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-rhs img{
    width: 130px;
    height: 150px;
}

.s-rhs h2{
    font-size: 24px;
    font-weight: 700;
    color: #FB8500;
    margin-top: 20px;
}


form {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
}
  
input {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 1.2rem;
    border-radius: 6px;
    border: 1px solid #aaaaaa;
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

form p{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 6px;
}

input.error{
    border: 1px solid red;
}


button{
    display: block;
    border-radius: 6px;
    width: 100%;
    padding: 0.6rem 0;
    background-color: #FB8500;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.bottom-text span{
    color: #FB8500;
    font-weight: 600;
    cursor: pointer;
}

/* create campaign */

.bottom-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.campaign-lhs{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #333333;
}

.campaign-lhs h2{
    font-size: 32px;
    color: #FB8500;
    font-weight: 600;
    margin-top: 20%;
    padding: 5%;
}

.campaign-lhs img{
    width: auto;
    margin-top: 50px;
}

.campaign-rhs{
    width: 60%;
    padding: 20px 40px 20px 40px;
}

.goal-fields{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal-fields input{
    width: 95%;
}

.bottom-button{
    width: 100%;
    display: flex;
   justify-content: flex-end;
    
}

.bottom-button button{
    width: auto;
    text-wrap: nowrap;
    padding: 10px;
}

/* end of campaign creation */

/* beginning of nav */
nav{
    display: flex;
    flex-direction: row;
    background: #fff;
    padding: 20px;
    margin: auto;
    align-items: left;
    justify-content: space-between;
}

.search-box{
    width: 212px;
    height: 40px;
}

nav img{
    width: 180px;
    height: 40px;
}

nav a{
    display: inline-block;
    flex-direction: row;
    font-size: 15px;
    padding: 5px;
    color: #000;
    background: #fff;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}

nav a:hover{
    color: #666;
}

section{
    width: 100%;
    height: 100vh;
    background-image: url(assets/business-teamwork.png);
    background-size: cover;
    background-position: center;
}

.btn{
   width: 180px;
   height:  40px;
   background: #FB8500;
   color: #fff;
   border-radius: 12px;
   padding: 5px;
}

.landing-page img{
    position: fixed;
    margin: auto;
    padding: auto;
    max-width: 100px;
}

.landing-page ul, li{
    display: inline-flex;
    justify-content:space-evenly;
    padding: auto;
    margin: auto;
}

section h1{
    color: #fff;
    font-size: 100px;
    text-align: center;
}

section h2{
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

section h3{
    color: #FB8500;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    padding: 40px;
}

.campaign-btn{
    width: 180px;
    height: 40px;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
 }

.explore-btn{
    width: 180px;
    height:  40px;
    background: #fff;
    color: #000;
    border-radius: 12px;
    padding: 5px;
    margin: 20px;
}

.page-buttons{
    display: flex;
    justify-content: center;
}

.how-it-works{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 30px;
}

h4{
    color: #023047;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
}

.confirmation-container{
    display: grid;
    background: #023046;
    background-size: cover;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.confirmation-container h1{
    color: #fff;
    text-align: center;
    padding: 30px;
}

.confirmation-container h2{
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.confirmation-container img{
    padding: 20px;
    justify-items: center;
}

.confirmation-container h3{
    color: #fff;
    text-align: center;
    margin: 20px;
}

.confirmation-container p{
    color: #fff;
    padding: 30px;
}

.confirmation-container .btn{
    text-align: center;
    width: 180px;
    height: 40px;
    margin: 0 auto;
    padding: 5px;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    text-transform: none;
}  

.box-container{
    display: inline-flex;
}

.view-container{
    box-sizing: content-box;
    color-scheme: #9BA2A4;
}

.landing-page-container{
    display: grid;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.landing-page-container h3{
    color: #808080;
    margin: 15px;
}

.landing-page-container p{
    color: #9BA2A4;
    padding: 10px;
}

.landing-page-container .btn{
    text-align: center;
    width: 180px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    text-transform: none;
    }  

.testimonials-container{
    background: #023046;
    background-size: cover;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
}

.testimonials{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 100%;
    width: 20px;
    min-width: 100vh;
    margin: 10px;
    padding: 10px;
    left: 20px;
}

.testimonials img{
    height: 20px;
    padding: 20px;
    margin: 20px;
}

.text-box p{
    color: #fff;
    font-size: 10px;
    justify-content: left;
    padding: 10px;
}

.testimonials-container h4{
    color: #388DA8;
}

.text-box h5{
    color: #FB8500;
    font-size: 10px;
    justify-content: left;
}

.container .social-links-wrapper{
    display: flex;
}

.container hr{
    background-position: cover;
}

.urgent-cause{
    box-sizing: content-box;
    color-scheme: #9BA2A4;
    padding: 10px;
    margin: 30px;
}

.urgent-cause img{
    padding: 20px;
    justify-items: center;
}

.payment-container{
    display: flex;
    flex-direction: row;
    background: #fff;
    margin: auto;
    padding: 15px;
    margin-left: 10px;
    justify-content: space-around;
    align-items: left;
}

.profile-container{
    position: relative;
    max-width: 700px;
    width: 90%;
    border-radius: 8px;
    padding: 10px 50px;
    margin: 5px 20px;
    background: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.profile-container header{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #236795;
    padding: 20px;
}

.profile-container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 10px;
}

.profile-container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
}

.profile-container form .user{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.profile-container form .user-btn{
    display: flex;
    color: #FB8500;
    width: 130px;
    height: 40px;
    font-size: 18px;
    border-radius: 25px;
    border: 1px solid #FB8500;
    background: transparent;
    padding: 5px 20px;
    margin: 20px 20px;
}

.profile-container .details{
    margin-top: 30px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.profile-container form .profile-title{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
    padding: 20px;
    color: #808080;
}

.profile-container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-details{
    display: flex;
    justify-content: left;
    color: #808080;
    gap: 4rem;
    margin: 60px;
    margin-top: 5px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
} 

.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #797979;
}

.input-field input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    padding: 0 15px;
    height: 41px;
    margin: 8px 0;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field input[type="country"]{
    color: #A8A8A8;
}

.input-field input[type="state"]{
    color: #808080;
}

.save-btn{
    width: 110px;
    height: 40px;
    display: flex;
    position: right;
    justify-items: right;
    background: #FB8500;
    color: #fff;
    font-size: 15px;
    border-radius: 12px;
    padding: 10px 30px;
    margin: 10px 10px;
}

.footer .img{
    font-size: 5px;
    padding: 10px;
    margin: 30px;
}

.footer{
    padding: 20px;
}

.footer .container{
    max-width: 1160px;
    margin: auto;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer ul{
    list-style: none;
}

.footer-col{
    width: 30%;
    padding: 20px;
    margin: auto;
}

.footer-col h4{
    color: #808080;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #A8A8A8;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin: auto;
    justify-content: space-evenly;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #808080;
    padding-left: 8px;
}

.footer .footer-links{
    display: flex;
    font-size: 10px;
    flex-direction: column;
    align-items: center;
}

.footer .footer-socials{
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-top: 20px;
    padding-right: 15px;
}

.footer-details{
    display: flex;
    justify-content:space-evenly;
    color: #808080;
}

.footer-details .vector{
    width: 20px;
    height: 15px;
}

.footer-details img{
    width: 60px;
    height: 20px;
}

.footer-socials #confirmation-message{
    display: flex;
    gap: 0.2rem;
    align-items: left;
    justify-content: left;
}

.footer-socials .btn{
    width: 180px;
    height:  40px;
    display: flex;
    background: #FB8500;
    color: #fff;
    border-radius: 12px;
    padding: 5px;
}

/* Explore campaign */

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    width: 100%;
    /* padding: 50px 100px 50px 100px; */
}

.header-container button{
    width: 400px;
    height: 60px;
    background-color: #034563;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.header-container input{
    width: 600px;
    height: 60px;
}
.cam-header{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    width: 100%;
    padding: 0 100px 0 100px;
    margin-top: 50px;
}

.cam-header h3{
    font-size: 32px;
    font-weight: 700;
}

.all-content-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 100px;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}

.content-container{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.content-container h4{
    font-size: 22px;
    font-weight: 600;
    padding: 0;
    margin-top: 10px;
}

.iconandname{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 12px;
}

.iconandname i{
    width: 20px;
    height: 20px;
    color: #219EBC;
}

.iconandname span{
    font-size: 16px;
    font-weight: 500;
    color: #219EBC;
}

.iconandname p{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.progress-bar{
    background-color: #d9d9d9;
    height: 10px;
    border-radius: 6px;
    margin-top: 20px;
}

.inner-bar{
    background-color: #FB5507;
    height: 10px;
    width: 50%;
    border-radius: 6px;
}

.down-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.down-text p{
    font-size: 20px;
    font-weight: 600;
    color: #333333;
}

.down-text button{
    width: 150px;
    height: 44px;
    background-color: #FB8500;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    border-radius: 4px;
}

