/* Updated style.css */

/* Navbar Styles */
.navbar {
    background-color: #007bff; /* Blue color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 50px;
}

.navbar-nav .nav-link {
    color: #fff; /* White color for text */
    margin-right: 15px; /* Default margin between nav links */
}

.navbar-nav .nav-link:hover {
    color: #fff; /* White color on hover */
}

.search-box {
    width: 150px;
}

/* Custom margin for Campaigns link */
.navbar-nav .nav-link.campaigns-link {
    margin-right: 30px; /* Increased margin for Campaigns link */
}

/* Collapse Navbar Styles */
@media (max-width: 991.98px) {
    .navbar-collapse {
        background-color: #007bff; /* Blue color */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar-nav .nav-link {
        margin: 0;
    }

    .form-inline {
        margin-top: 10px;
    }
}

/* Style for the Search button */
.bottom-cont button {
    display: block;
    border-radius: 6px;
    width: 100%;
    height: 50px;
    padding: 0.6rem 0;
    background-color: #FB8500;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

.bottom-text span {
    color: #FB8500;
    font-weight: 600;
    cursor: pointer;
}
